@import url('https://fonts.googleapis.com/css?family=Shippori+Mincho');

body {
  font-family: 'Shippori Mincho', sans-serif;
  height: 100%;
}

#greeting {
  text-align: center; 
  color: #000000;
  font-size: 56px;
  padding: 40px;
}

#clock {
  text-align: center; 
  color: #000000;
  font-size: 56px;
  padding: 40px;
}

#card {
  text-align: center; 
  margin-left: 25%;
  margin-right: 25%;
}

#quote-body{
  font-size: 30px;
  padding: 40px;
}

#quote-footer{
  font-size: 30px;
  text-align: right;
}